@import "../variables.scss";

.add-tag-bar{
    width: 600px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-self: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;

    height: fit-content;
    min-height: 35px;
    flex-flow: wrap;
}