@import "../../variables.scss";

.tag-search-wrapper{
    width: 160px;
    height: 40px;
    display: flex;

    .tag-search-input{
        display: flex;
        background: transparent;
        border: none;

        font-size: medium;
        padding-left: 10px;
    }

    .dropdown-list{
        background-color: $white;
        display: flex;
        position: fixed;
        margin-top: 48px;
        border-radius: 6px;
        flex-direction: column;
        max-height: 186px;
        width: 230px;
        padding: 3px;

        &.open{
            visibility: visible;
        }
        &.closed{
            visibility: hidden;
        }

        

        .dropdown-item{
            
            background-color: transparent;
            height: 35px;
            width: 100%;
            display: flex;
            
        }

        .element-text{
            color: $black;
            height: inherit;
            width: 100%;
            padding-left: 10px;
            display: flex;
            align-items: center;
        }
    }

    textarea:focus, input:focus{
        outline: none;
    }
    *:focus {
        outline: none;
    }
}