@import "../../variables.scss";

.tag-wrapper{
    border-radius: 5px;
    width: fit-content;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $grey;
    display: flex;
    margin-right: 8px;
    padding-bottom: 4px;

    .remove-tag-button{
        display: flex;
        color: $dark-grey;
    }
    .tag-text{
        display: flex;
        color: $black;
        margin-right: 8px;
    }
}